.our_services_page {
    display: flex;
    padding: 0px 128px;
    flex-direction: column;
    align-items: center;
}

.services_list {    
    margin-top: 32px;
    max-width: 60vw;
}

.services_list .service {
    margin-top: 32px;
}

.services_list .service:first-child {
    margin-top: 0px;
}

.background_dot_pattern {
    position: absolute;
    left: 32px;
    bottom: 0;    
    z-index: -1;
    width: 360px;
    height: 360px;
}

@media(max-width: 512px) {
    .our_services_page {
        padding: 32px;
    }

    .services_list {
        max-width: unset;
    }
}